/* GLOBALS */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $fontContent;
    background-color: $fondo1;
}

/** GLOBALES **/
.contenedor {
    max-width: 120rem;
    width: 90%;
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    font-family: $fontContent;
}

h1,
h2,
h3,
h4 {
    font-family: $fontTitle;
    line-height: 1.2;
}

img {
    max-width: 100%;
}


a:hover {
    text-decoration: none;
}


.ir-arriba{
    display:none;
    background-repeat:no-repeat;
    font-size:20px;
    color: $primary;
    cursor:pointer;
    position:fixed;
    bottom:10px;
    right:10px;
    z-index:2;
  }


  .ir-arriba:hover {
    color:darken($color: $primary, $amount: 15);
  }